@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

html {
	-webkit-scroll-behavior: smooth;
	scroll-behavior: smooth;
}

body {
	font-family: 'Montserrat', sans-serif;
	background: #32243d;
	animation: move 1s linear infinite forwards;
}

/*----------------Navbar--------------*/
nav {
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)), right bottom;
	-webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
}

.nav-link {
	color: white !important;
}

.nav-link:hover {
	color: #8a49ff !important;
}

.navbar-dark .navbar-toggler-icon {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.8%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.navbar-dark .navbar-toggler[aria-expanded=true] {
	padding: .25rem .25rem !important;
}

.navbar-dark .navbar-toggler[aria-expanded=false] {
	border-color: transparent !important;
	padding: .25rem .25rem !important;
}

/*----------------Home Section--------------*/
#home {
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)), url('./images/bg.jpg') right bottom;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 10rem 0;
}

.home-text {
	/*background-color: rgba(0, 0, 0, .6);
	border-radius: 30px;*/
	padding: 1rem;
}

.home-img {
	background: linear-gradient(-35deg, #2f21ad, #e04b9c);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
	padding: 0;
	width: 20rem;
}


h1 {
	font-size: 3rem;
	font-weight: 700;
	text-align: left;
}

h1 > .home-name {
	color: #8a49ff;
	text-shadow: 1.5px 1.5px 1.5px #000;
}

h1 ~ p {
	text-align: left;
}

.home-btn {
	position: relative;
	left: 8%;
	top: 0;
}

.cv-btn,
.contact-btn {
	margin: 0 auto;
	display: inline-block;
	padding: 10px 10px;
	border: 1px solid white;
	color: white;
	text-align: center;
	width: 8rem;
	text-decoration: none;
	background-image: linear-gradient(white, white);
	background-repeat: no-repeat;
	background-size: 0% 100%;
	background-position-x: right;
	-webkit-transition: background-size 500ms;
	transition: background-size 500ms;
}

.cv-btn:hover,
.contact-btn:hover {
  background-size: 100% 100%;
  background-position-x: left;
  color: black;
  text-decoration: none;
}

.portfolio-btn {
  margin-right: 30px;
}

.contact-btn {
  margin-left: 30px;
}

/*----------------About Section--------------*/
#about {
	background-color: #9d3ba2;
}

.about-text {
	margin-top: -70px;
}

.about-img {
	height: 20rem;
}

.about-container {
	height: 25rem;
}

.wave-1 {
    position: relative;
    bottom: 65px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave-1 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 65px;
}

.wave-1 .shape-fill {
    fill: #9d3ba2;
}

.wave-2 {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.wave-2 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 95px;
}

.wave-2 .shape-fill {
    fill: #9d3ba2;
}

/*----------------Tools Section--------------*/
.tools-stacks {
	padding-bottom: 5rem;
}

.stacks {
	min-height: 20rem;
	margin: 0 1rem;
}

.tools-imgbox {
	margin: 0.5rem 0.3rem;
}

.tools-img {
	width: 6rem;
	filter: grayscale(100%) brightness(55%) sepia(50%) hue-rotate(-120deg) saturate(500%) contrast(1);
}

.tools-1 {
	filter: grayscale(100%) brightness(70%) sepia(50%) hue-rotate(-120deg) saturate(500%) contrast(1);
}

.tools-2 {
	filter: invert(30%) sepia(66%) saturate(1376%) hue-rotate(265deg) brightness(50%) contrast(60%);
}

.tools-img:hover {
	filter: none;
}


/*----------------Projects Section--------------*/
#projects {
	background-color: #9d3ba2;
}
.card-deck {
	margin: 8rem 0 4rem;
}

.card {
	width: 18rem;
	transition: transform 0.5s;
}

.card:hover {
	transform: translateY(-20px);
}

.wave-3 {
    position: relative;
    bottom: -10px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave-3 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 65px;
}

.wave-3 .shape-fill {
    fill: #9d3ba2;
}

.wave-4 {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.wave-4 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 95px;
}

.wave-4 .shape-fill {
    fill: #9d3ba2;
}

/*----------------Contact Section--------------*/
#contact h3 {
	font-weight: 900;
	margin-bottom: 1.5rem;
}

#gmap_canvas {
	height: 50vh;
	width: 100%;
}

.btn {
	color: white;
	border: 1px solid #fff;
	background-image: linear-gradient(white, white);
	background-repeat: no-repeat;
	background-size: 0% 100%;
	background-position-x: right;
	-webkit-transition: background-size 500ms;
	transition: background-size 500ms;
}

.btn:hover {
	color: black;
	border: 1px solid #fff;
	background-size: 100% 100%;
	background-position-x: left;
}

.fa-icons {
	font-size: 2rem;
	color: #8a49ff;
}

.fa-icons:hover {
	color: #640eff;
}

input, textarea {
	background-color: transparent !important;
	color: white !important;
	border: 1px solid #84319B !important;
}

input[placeholder] {
	color: white !important;
}

.btn-submit {
	color: white;
	border: 1px solid transparent;
	background: linear-gradient(-35deg, #2f21ad, #e04b9c);
}

.btn-submit:hover {
	color: white;
	background: linear-gradient(-35deg, #2f21ad, #e04b9c);
	border: 1px solid white;
}

.wave-5 {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.wave-5 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 95px;
}

.wave-5 .shape-fill {
    fill: #32243d;
}

/*----------------Footer Section--------------*/
footer {
	background: linear-gradient(-35deg, #2f21ad, #e04b9c);
}

@media only screen and (max-width: 600px) {
	#home {
		padding: 5rem 0 !important;
	}
	.home-img {
		margin-bottom: 1rem;
	}
	.home-text h1 {
		font-size: 2rem;
	}

	.home-btn {
		position: relative;
		left: 1rem;
		padding-bottom: 3rem;
	}

	.about-container {
		height: 38rem;
	}

	.tools-stacks {
		padding: 0.5rem 0;
	}

	#projects .card-deck {
		margin-top: 3rem;
	}
	#tools h1 {
		margin-bottom: 0;
	}

	.tools-item {
		margin: 0 !important;
	}

}

@media only screen and (max-width: 768px) {

	#home {
		padding: 6rem 0;
	}

	.home-btn {
		position: relative;
		top: 1rem;
	}

	.tools-item {
		margin: 0 !important;
	}

	.tools-img {
		width: 5rem;
	}
}